.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	box-shadow: var(--box-shadow);
	margin: 10px;
	background-color: white;
	border-radius: 4px;
}

.name_tab {
	font-size: 16px;
	font-weight: 600;
	color: var(--black);
	flex: 0.5;
	text-align: left;
	margin-left: 10px;
}

.location_tab {
	font-size: 16px;
	font-weight: 600;
	color: var(--black);
	flex: 1;
}

.email_tab {
	font-size: 16px;
	font-weight: 600;
	color: var(--black);
	flex: 1;
}

.biography_tab {
	font-size: 16px;
	font-weight: 600;
	color: var(--black);
	flex: 1;
}

.user {
	display: flex;
	align-items: center;
	height: 70px;
	margin: 5px 10px;
	box-shadow: var(--box-shadow);
	cursor: pointer;
	transition: all 0.1s ease;
	background-color: white;
	border-radius: 4px;
}

.user:hover {
	scale: 1.01;
}

.name_container {
	flex: 0.5;
	display: flex;
	align-items: center;
	object-fit: contain;
    margin-left: 10px;
}

.user_name {
	font-size: 16px;
	font-weight: 500;
}

.location_container {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;

}

.user_location {
	font-size: 16px;
	font-weight: 400;
}

.biography_container {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.user_biography {
	font-size: 16px;
	font-weight: 400;
}

.email_container {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.user_email {
	font-size: 16px;
	font-weight: 400;
}
